.introduction {
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    width: 100vw;
    
  
  }
  .introduction-texto {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  .barra-introduction{
    width: 0.7rem;
    height: 6rem;
    background-color: #FFB800;
    margin: 0 20px 0 0;
    animation-name: barra;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
  .introduction-h1{
    color: #ABB2BF;
    font-family: Poppins;
    font-size: 38.318px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    max-width: 25ch;
    
  }

  
  
  .introduction p {
    font-size: 1.5rem;
    color: #fff;
  }




  .hacker {
    max-width: 600px;
    width: 100%;
  }
  .frase-sh{
    margin: 5rem auto 0 auto;
    max-width: 40ch;
    text-align: center;
    color: #FFF;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    }
   
  .frase-motivacional{
   z-index: -1;
   margin: -9rem auto 16rem auto;
  }
  
  
  @keyframes barra{
   0%{
    transform: translateY(-30px)
   }
   100%{
    transform: translateY(30px)
   }
  }
  
  
  @media (max-width: 1000px) {
    .introduction h1 {
      font-size: 2rem;
    }
    .hacker{
      max-width: 400px;
    } 

  }
  @media (max-width: 800px) {
    .introduction {
      grid-template-columns: 1fr 1fr;
      gap: 40px;
    }
    .introduction h1{
      font-size: 2rem;
    }
  
    .introduction h1::before {
      width: 30px;
      height: 10px;
      top: 10px;
    }
    .frase-sh{
      margin-bottom: 2rem;
      font-size: 1.2rem;
    }
    .frase-motivacional{
      max-width: 540px;
    }
  }
  @media (max-width: 700px) {
    .introduction {
      grid-template-columns: 1fr;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
      height: 50vh;
    }
    
    .introduction img {
      display: none;
    }
    .introduction-texto {
      margin: 0;
    }
    .hacker {
      display: none;
    }
    .introduction h1 {
      margin: 1rem;
      font-size: 2rem;
    }
    .barra-introduction{
      margin: 0 10px 0 20px;
    }   
    .frase-sh{
      margin-bottom: 5rem;
      font-size: 0.8rem;
    }
    .frase-motivacional{
      max-width: 340px;
    }

    @keyframes type {
      from {
        width: 0;
      }
      to {
        width: 10em;
      }
    }
  }